body {
    align-items: center;
    justify-content: center;
   margin: 0 auto;
   padding-top: 50px;
   height: auto;
   width: 1000px;
}

#yellow {
    background-color: yellow;
    display: inline;
    font-weight: bold;
}
.img {
    width: 450px;
    height: 500px;
    margin-bottom: 50px;
    float: right;
}
td {
    font-size: 25px;
    font-weight: bold;
}
input[type=text] {
    padding: 05px;
    width: 300px;
    font-size: 16px;
    font-weight: 550;
    margin: 10px 0px;
}
input[type=button] {
    margin: 10px 0px 20px 180px;
    width: 100px;
    padding: 5px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    background-color: rgb(34, 144, 34);
    color: aliceblue;
    border-radius: 5px;
}
input[type=button]:hover {
    background-color: rgb(18, 202, 18);
}
#haystack {
    font-size: 20px;
}
h2 {
    color: rgb(8, 8, 164);
    font-size: larger;
    text-decoration: underline;
}